*{
    padding: 0;
    margin: 0;
}
.card-fixed{
    position: fixed;
    background-color: rebeccapurple;
    padding: 15px;
    width: 500px;
    height: 500px;
}

.card-fixed h3{
    position: fixed;
    background-color: blue;
    left: 200px;
    bottom: 0;
}