*{
    padding: 0;
    margin: 0;
}
.card {
    position: relative;
    background-color: rebeccapurple;
    padding: 15px;
    width: 500px;
    height: 500px;
}

.card h3 {
    float: left;
    background-color: blue;
   margin: 5px;
}
#cleaner{
    clear: left; /*esta propiedad es para limpiar y evitar que se sigan apilando a su lado */
}